<div class="bodyClass">
  <div class="container">
    <!-- Card -->
    <div class="card">
      <div class="card-header">
        <img [src]="newsData?.imageUrl" alt="img" />
      </div>
      <div class="card-body">
        <span class="tag tag-teal">{{newsData?.category?.english}}</span>
        <h4>{{newsData?.heading?.english}}</h4>
        <p>{{newsData?.content?.english}} </p>
        <div class="mdl-card__actions mdl-card--border">
          <a href="javascript:void(0)" [routerLink]="['/news-viewed']" [queryParams]="{newsId:newsData?.newsId}"
            class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Read
            More</a>
          <div class="mdl-layout-spacer"></div>
          <!-- <button class="mdl-button mdl-button--icon mdl-button--colored"><i
              class="material-icons">favorite</i></button>
          <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">share</i></button> -->
        </div>
      </div>
    </div>
  </div>