<ion-header>
  <ion-toolbar>
    <ion-title>Not Found</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mainbox">
    <div class="err">4</div>
    <i class="far fa-question-circle fa-spin"></i>
    <div class="err2">4</div>
    <div class="msg">Maybe this page moved? Got deleted? Is hiding out in quarantine? Something went wrong<p>
        Let's go <a routerLink="/home">home</a> and try from there.</p>
      <ion-button class="btn green" (click)="navigateBack()">Back</ion-button>
    </div>
  </div>
</ion-content>