<div class="row1-container">
  <div class="box box-down cyan" [routerLink]="['/news-feeds']">
    <h2>New Feeds</h2>
    <p>News feeds keep you informed when websites add new news post.</p>
    <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
  </div>

  <div class="box box-down blue" [routerLink]="['/profile']">
    <h2>Profile</h2>
    <p>A profile of someone is a short article or programme in which their life and character are described.</p>
    <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
  </div>

  <div class="box red" (click)="gotoNewsFeeds()">
    <h2>Open In Browser</h2>
    <p>Go to some other websites to explore and read news</p>
    <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
  </div>

</div>