<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <div class="title">
    <h3>Login</h3>
    <p>Lets get started</p>
  </div>
  <form [formGroup]="loginForm">
    <ion-input placeholder="Email" type="email" formControlName="userName" class="primary-input" required></ion-input>
    <span class="err_msg" *ngIf="(isFormSubmitted || form.userName.touched)&& form.userName.errors?.required">Email is
      required *</span>
    <span class="err_msg"
      *ngIf="(isFormSubmitted || form.userName.touched)&& ((!(form.userName.errors?.required)) && form.userName.errors?.emailValid)">Enter
      Valid Email *</span>
    <ion-input placeholder="Password" formControlName="password" type="password" class="primary-input" required>
    </ion-input>
    <span class="err_msg" *ngIf="(isFormSubmitted || form.password.touched) && form.password.errors?.required">Password
      is required *</span>
    <span class="err_msg"
      *ngIf="(isFormSubmitted || form.password.touched) && (!(form.password.errors?.required)) && form.password.errors?.minlength">Maximun
      8 char is required *</span>
  </form>
  <div class="ion-margin-top ion-text-right forget">
    <a (click)="forgotPassword()">Forgot Password?</a>
  </div>
  <div class="ion-margin-top">
    <!-- <ion-button expand="block" type="submit">LOGIN</ion-button> -->
    <ion-button type="submit" color="danger" (click)="formSubmit()" expand="block">Login</ion-button>
  </div>

  <div class="ion-margin-top ion-text-center">
    <a (click)="dismiss()">Close</a>
  </div>
</ion-content>