<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <div class="title">
    <h4>Signup</h4>
    <p>Register with Code Crafts to get started</p>
  </div>
  <form [formGroup]="signUp">
    <ion-input placeholder="Full Name" formControlName="first_Name" class="primary-input" required></ion-input>
    <span class="err_msg" *ngIf="(isFormSubmitted || form.first_Name.touched) && form.first_Name.errors?.required">First
      Name is
      required *</span>
    <ion-input placeholder="Email" type="email" formControlName="user_Name" class="primary-input" required></ion-input>
    <span class="err_msg" *ngIf="(isFormSubmitted || form.user_Name.touched)&& form.user_Name.errors?.required">Email is
      required
      *</span>
    <span class="err_msg"
      *ngIf="(isFormSubmitted || form.user_Name.touched)&& ((!(form.user_Name.errors?.required)) && form.user_Name.errors?.emailValid)">Enter
      Valid Email *</span>
    <ion-input placeholder="password" type="password" formControlName="password" class="primary-input" required>
    </ion-input>
    <span class="err_msg" *ngIf="(isFormSubmitted || form.password.touched)&& form.password.errors?.required">Password
      is required
      *</span>
    <span class="err_msg"
      *ngIf="(isFormSubmitted || form.password.touched) && (!(form.password.errors?.required)) && form.password.errors?.minlength">Maximun
      8 char is required *</span>
    <p>By signing up you're agreed to our Terms & Conditions</p>

    <div class="ion-margin-top">
      {{form.valid}}
      <ion-button expand="block" type="submit" [disabled]="!signUp?.valid" (click)="register()">SIGN UP</ion-button>
    </div>

    <div class="ion-margin-top ion-text-center">
      <a (click)="dismiss()">Close</a>
    </div>
  </form>
</ion-content>