.title {
    margin-bottom: 30px;
}

.title h4 {
    color: var(--ion-color-primary);
}

.title p {
    margin-top: 0 !important;
    color: #999999;
    font-size: small;
}

p {
    font-size: small;
    color: #999999;
}

.err_msg {
    display: block;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 12px;
}