<ion-header>
  <ion-toolbar>
    <ion-title>News Feeds</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card no-margin margin-bottom class="full-width">
    <ion-item tappable (click)="choosePlace('from')" class="border-bottom">
      <ion-icon name="search" color="primary" item-left></ion-icon>
      <ion-input></ion-input> -->
  <!-- <span>{{ search.name }}</span> -->
  <!-- </ion-item>
    <ion-item>
      <ion-icon name="md-calendar" color="primary" item-left></ion-icon>
      <ion-datetime class="no-pl" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="search.date">
      </ion-datetime>
    </ion-item>
  </ion-card> -->

  <!-- <button ion-button icon-start block no-margin color="primary" class="round" tappable (click)="doSearch()">
    <ion-icon name="search"></ion-icon> Search
  </button> -->
  <!-- <div>
    <h4>Sort by category</h4>
    <mat-form-field appearance="fill">
      <mat-label>Choose an category</mat-label>
      <mat-select [disabled]="disableSelect.value">
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->
  <ion-list class="filter">
    <!-- <ion-list-header>
      <ion-label>
        Filter By
      </ion-label>
    </ion-list-header> -->
  
    <ion-item>
      <ion-label>category</ion-label>
      <ion-select interface="popover" [(ngModel)]="selectedCate" (ngModelChange)="onCateChange($event)">
        <ion-select-option *ngFor="let cate of category" [value]="cate?.cate">{{cate?.cate}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ng-container *ngIf="filteredNewsArr && filteredNewsArr?.length != 0;else loader">
    <ng-container *ngFor="let news of filteredNewsArr">
      <app-news-feed-tile [newsData]="news"></app-news-feed-tile>
    </ng-container>
  </ng-container>
  <ng-template #loader>
    <div class="parent">
      <div class="loader"></div>
    </div>
  </ng-template>


</ion-content>